<h1><%= t ".pass_re" %></h1>

<p><%= t "text_repass.link_re" %></p>

<%= link_to t("text_repass.pass_re"), edit_password_reset_url(id: @user.reset_token,
email: @user.email) %>

<p><%= t "text_repass.expire_link" %></p>

<p><%= t "text_repass.not_re" %></p>
