<footer class="footer">
  <small>
    <%= link_to t("layouts.footer"), "http://www.railstutorial.org/" %>
    <%= link_to "RMichael Hartl", "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("layouts.about"), about_path %></li>
      <li><%= link_to t("layouts.contact"), contact_path %></li>
      <li><%= link_to t("layouts.news"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
